## Files To Ignore In Git Commits - Add A Description For Each Exception

# Temporary Environment Files
.env

# Local Storage Directories
.local/

# VS Code Workspace Directories
.devcontainer/
.devcontainer
.vscode/
.workspace/
